* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(3, 7, 30);
  color: rgb(255, 186, 8);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-transform: uppercase;
}

.container {
  background-color: rgb(55, 6, 23);
  width: 400px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.userinput {
  margin-bottom: 10px;
}

.container .form-group label {
  display: inline-block;
  width: 200px;
  font-size: 10px;
  margin-bottom: 5px;
}

.container .form-group input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(55, 6, 23);
  border-radius: 5px;
  font-size: 13px;
}

.container form button {
  width: 60%;
  background-color: rgb(106, 4, 15);
  border: none;
  padding: 10px;
  margin: 10px;
  color: rgb(255, 186, 8);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 13px;
}

.container form button:hover {
  background-color: rgb(232, 93, 4);
}
